.container {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.author-container>img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 8px;
}

.author-container {
    display: flex;
    height: 20px;
}

.author-container>p {
    font-size: 14px;
    font-weight: bold;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.image-container>img {
    width: 65%;
    border-radius: 20px;
}

.comments {
    justify-content: space-between;
    padding: 10px;
}

.comments>div>input {
    border-radius: 20px;
    border: none;
    width: 100%;
    background-color: #eff2f5;
}

.comments>div>input:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.comments>div>p {
    margin-right: 10px;
}

.comment-button {
    background-color: rgb(154, 84, 219);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    margin-left: 8px;
}

.comment-button:hover {
    background-color: white;
    color: rgb(154, 84, 219);
}

.container>.div-to-flex>.content>.text-container {
    margin: 8px;
    padding-top: 8px;
}

.container>.comments>div>img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 8px;
}

.container>.div-to-flex {
    display: flex;
    justify-content: space-between;
}

.container>.div-to-flex>.voting {
    margin-left: 8px;
}