.vote-container {
    background-color: #eff2f5;
    border-radius: 40px;
}

.vote-container>.up-vote-container {
   text-align: center;
    flex-direction: column;
}

.vote-container>.up-vote-container>.arrow-up {
    color: green;
    cursor: pointer;
}

.vote-container>.up-vote-container>.arrow-up:hover {
    color: mediumspringgreen;
}

.vote-container>.up-vote-container>p {
    color: green;
    margin: auto;
}

.vote-container>.down-vote-container {
    text-align: center;
    flex-direction: column;
}

.vote-container>.down-vote-container>.arrow-down {
    color: red;
    cursor: pointer;
}

.vote-container>.down-vote-container>.arrow-down:hover {
    color: coral;
}

.vote-container>.down-vote-container>p {
    color: red;
    margin: auto;
}