.search {
    display: flex;
    border-radius: 30px;
    background-color: #eff2f5;
    height: 40px;
    align-items: center;
}

.search > .serch-icon {
    color: rgb(154, 84, 219);
}

.search > .search-input {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    outline-width: 0;
    width: 100%;
}