.Contanier{
    background-color: #eff2f5;
}

.Header{
    height: 60px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.Logo{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}
.Logo > p {
    font-size: x-large;
    color: rgb(154, 84, 219);
    font-weight: bold;
}

.SearchBar{
    width: 300px;
}

.IconChatButtonView{
    background-color: #eff2f5;
    color: rgb(154, 84, 219);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}

.IconChatButtonView:hover{
    background-color: rgb(154, 84, 219);
    color: #eff2f5;
}


.ProfileView{
 height: 200px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}

.Img-Info_View{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Img-Info_View > img {
    width: 180px;
    height: 180px;
    border-radius: 180px;
}

.UserInfo{
    margin-left: 12px;
}

.UserInfo > #Name {
    font-size: 30px;
    font-weight: 500;
}

.UserInfo > #Friends {
    font-size: 15px;
}

.EditProfileButton{
    background-color: #eff2f5;
    color:  rgb(154, 84, 219);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.EditProfileButton:hover{
    background-color: rgb(154, 84, 219);
    color: white;
}


.UserProfileContent{
    width: 50%;
    margin: auto;
}
.UserProfileContent > .CreatePostView{
    margin-top: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.CreatePostView > p {
    font-size: 20px;
    font-weight: 500;
}

.FeedView{
    background-color: #eff2f5;
    margin-top: 25px;
    width: 100%;
}