.Contanier{
    background-color: #eff2f5;
    height: 100vh;
    overflow-y: scroll;
}

.Body{
    margin-left:auto;
    margin-top: 60px;
    width: 82%;
}

.ProfileView{
    padding: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Img-Info_View{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Img-Info_View > img {
    width: 180px;
    height: 180px;
    border-radius: 180px;
}

.UserInfo{
    margin-left: 12px;
}

.UserInfo > #Name {
    font-size: 30px;
    font-weight: 500;
}

.UserInfo > #Friends {
    font-size: 15px;
}

.EditProfileButton{
    background-color: #eff2f5;
    color:  rgb(154, 84, 219);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.EditProfileButton:hover{
    background-color: rgb(154, 84, 219);
    color: white;
}


.UserProfileContent{
    width: 50%;
    margin: auto;
}
.UserProfileContent > .CreatePostView{
    margin-top: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.CreatePostView > p {
    font-size: 20px;
    font-weight: 500;
}

.FeedView{
    background-color: #eff2f5;
    margin-top: 25px;
    width: 100%;
}